go 1.25.4

use (
	../archistrator-platform/framework-go
	../archistrator-platform/framework-go-infrastructure-github
	../archistrator-platform/framework-go-infrastructure-keycloak
	../archistrator-platform/framework-go-infrastructure-llm
	../archistrator-platform/framework-go-infrastructure-otel
	../archistrator-platform/framework-go-infrastructure-postgres
	../archistrator-platform/framework-go-infrastructure-temporal
	./server
	./systemtests
)
